.card-container {
    display: flex;
    flex-direction: column;
    background-color: #ebc20b;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }

  .monsterimg{
      height: 150px;
      width: 150px;
      text-align: center;
  }

  .monster_name{
      font-family: monospace;
      font-size: large;
  }